doctype html
html(lang='en')
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        // Meta, title, CSS, favicons, etc.
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        meta(name='robots', content='noindex,nofollow')

        title 작품 목록
        // Bootstrap
        link(href='/vendors/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
        // Font Awesome
        link(href='/vendors/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        // NProgress
        link(href='/vendors/nprogress/nprogress.css', rel='stylesheet')
        // Datatables
        link(href='/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css', rel='stylesheet')
        link(href='/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css', rel='stylesheet')
        link(href='/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css', rel='stylesheet')
        link(href='/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css', rel='stylesheet')
        link(href='/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css', rel='stylesheet')
        // Custom Theme Style
        link(href='/build/css/custom.min.css', rel='stylesheet')
        link(href='/css/adminBorder.css', rel='stylesheet')
    body.nav-md
        .container.body
            .main_container
                include components/admin_side_nav_bar
            // page content
            .right_col(role='main')
                div
                    .page-title
                        .title_left
                            h3
                                | Border
                        .title_right
                            .col-md-5.col-sm-5.col-xs-12.form-group.pull-right.top_search
                                .input-group
                                    input.form-control(type='text', placeholder='Search for...')
                                    span.input-group-btn
                                        button.btn.btn-default(type='button') Go!
                    .clearfix
                    .col-md-12.col-sm-12.col-xs-12
                        .x_panel
                            .x_title
                                h2 작품 관리
                                ul.nav.navbar-right.panel_toolbox
                                    li
                                        a.collapse-link
                                            i.fa.fa-chevron-up
                                    li.dropdown
                                        a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-expanded='false')
                                            i.fa.fa-wrench
                                        ul.dropdown-menu(role='menu')
                                            li
                                                a(href='#') Settings 1
                                            li
                                                a(href='#') Settings 2
                                    li
                                        a.close-link
                                            i.fa.fa-close
                                .clearfix
                            .x_content
                                p.text-muted.font-13.m-b-30
                                table#datatable-checkbox.table.table-striped.table-bordered.bulk_action
                                    thead
                                        tr
                                            th
                                            th CheckBox
                                            th 작가
                                            th 영문
                                            th 제목
                                            th 부제
                                            th 카테고리
                                            th 크기(가로, 세로, 두께)
                                            th 가격
                                            th 주제
                                            th 스타일
                                            th 재료
                                            th 판
                                            th 키워드
                                            th 조회수
                                            th 좋아요
                                            th 등록자
                                            th 판매 여부
                                    tbody
                                        - for(var i=0;i<border.length;i++)
                                            tr
                                                td
                                                th
                                                    button.btn.btn-default(type='button', onclick="location.href='/admin/border/update/"+border[i]._id+"' ") 수정
                                                    button.btn.btn-default(type='button', onclick='deleteBorder("'+border[i]._id+'")') 삭제
                                                td= border[i].lastName + " " + border[i].firstName
                                                td= border[i].lastNameE + " " + border[i].firstNameE
                                                td= border[i].title
                                                td= border[i].titleSub
                                                case border[i].category
                                                    when 'Pa'
                                                        td 회화
                                                    when 'Ph'
                                                        td 사진
                                                    when 'Dr'
                                                        td 드로잉
                                                    when 'Sc'
                                                        td 조각
                                                    when 'Pr'
                                                        td 프린트
                                                    default
                                                        td error
                                                td= border[i].width +" W * " + border[i].height +" H * " + border[i].depth + " cm"
                                                td= border[i].price +"원"
                                                case border[i].subject
                                                    when 'Ab'
                                                        td 추상
                                                    when 'La'
                                                        td 풍경
                                                    when 'Pe'
                                                        td 인물
                                                    when 'Po'
                                                        td 초상
                                                    when 'Vi'
                                                        td 상상
                                                    when 'An'
                                                        td 동물
                                                    when 'St'
                                                        td 정물
                                                    default
                                                        td error
                                                case border[i].style
                                                    when 'Im'
                                                        td 인상주의
                                                    when 'Fi'
                                                        td 순수미술
                                                    when 'Ex'
                                                        td 표현주의
                                                    when 'Ab'
                                                        td 추상주의
                                                    when 'Mo'
                                                        td 모더니즘
                                                    when 'Re'
                                                        td 현실주의
                                                    default
                                                        td error
                                                td
                                                    - for(var j=0;j<border[i].medium.length;j++)
                                                        case border[i].medium[j]
                                                            when 'Oi'
                                                                | 유채
                                                            when 'Ac'
                                                                | 아크릴
                                                            when 'Wa'
                                                                | 수채
                                                            when 'In'
                                                                | 잉크
                                                            when 'Pa'
                                                                | 페인트
                                                            when 'Ge'
                                                                | 석고
                                                            when 'Co'
                                                                | 채색
                                                            when 'Ti'
                                                                | 수묵담채
                                                            when 'Mu'
                                                                | 먹
                                                            default
                                                                | error
                                                        if(border[i].medium.length != j + 1)
                                                            |,
                                                            br
                                                td
                                                    - for(var j=0;j<border[i].material.length;j++)
                                                        case border[i].material[j]
                                                            when 'Ca'
                                                                 |캔버스
                                                            when 'Pa'
                                                                 |종이
                                                            when 'Wo'
                                                                 |나무
                                                            when 'Cd'
                                                                 |카드보드
                                                            when 'Ot'
                                                                 |기타
                                                            when 'So'
                                                                 |부드러운 재질(뜨개실, 면, 옷감)
                                                            when 'Hw'
                                                                | 화선지
                                                            when 'Su'
                                                                | 순지
                                                            when 'Ja'
                                                                | 장지
                                                            when 'Ha'
                                                                | 한지
                                                            default
                                                                 |error
                                                        if(border[i].material.length!=j+1)
                                                            |,
                                                            br
                                                td
                                                    - for(var j=0;j<border[i].keyWords.length;j++)
                                                        =border[i].keyWords[j]
                                                        if(border[i].keyWords.length != j + 1)
                                                            | ,
                                                            br
                                                td= border[i].view
                                                td= border[i].like
                                                td= border[i].uploadId
                                                td
                                                    label.switch
                                                        if(border[i].is_selling)
                                                            input(type='checkbox', onclick='isSellingChange("'+border[i]._id+'")' checked)
                                                            span.slider.round
                                                        else
                                                            input(type='checkbox', onclick='isSellingChange("' + border[i]._id + '")')
                                                            span.slider.round
                                                    if(border[i].is_selling)
                                                        p(style='display:none;') OFF
                                                        p ON
                                                    else
                                                        p OFF
                                                        p(style='display:none;') ON
                                button.btn.btn-default(type='button', onclick="location.href='/admin/border/upload/'") 추가
            // /page content
            // footer content
            footer
                .pull-right
                    | Gentelella - Bootstrap Admin Template by
                    a(href='https://colorlib.com') Colorlib
                .clearfix
            // /footer content
            // jQuery
            script(src='/vendors/jquery/dist/jquery.min.js')
            // Bootstrap
            script(src='/vendors/bootstrap/dist/js/bootstrap.min.js')
            // FastClick
            script(src='/vendors/fastclick/lib/fastclick.js')
            // Datatables
            script(src='/vendors/datatables.net/js/jquery.dataTables.min.js')
            script(src='/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js')
            script(src='/vendors/datatables.net-buttons/js/dataTables.buttons.min.js')
            script(src='/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js')
            script(src='/vendors/datatables.net-buttons/js/buttons.flash.min.js')
            script(src='/vendors/datatables.net-buttons/js/buttons.html5.min.js')
            script(src='/vendors/datatables.net-buttons/js/buttons.print.min.js')
            script(src='/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js')
            script(src='/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js')
            script(src='/vendors/datatables.net-responsive/js/dataTables.responsive.min.js')
            script(src='/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js')
            script(src='/vendors/datatables.net-scroller/js/dataTables.scroller.min.js')
            script(src='/vendors/jszip/dist/jszip.min.js')
            script(src='vendors/pdfmake/build/pdfmake.min.js')
            script(src='/vendors/pdfmake/build/vfs_fonts.js')
            script(src='/js/adminBorder.js')
            // Custom Theme Scripts
            script(src='/build/js/custom.min.js')
