doctype html
html
    head
        // Global site tag (gtag.js) - Google Analytics
        script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-144472686-1')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'UA-144472686-1');
        meta(charset='UTF-8')
        title Livig Draw
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='icon', href='favicon.ico')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='../css/nav_style.css')
        link(rel='stylesheet', href='../css/border_style.css')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display|Raleway&display=swap', rel='stylesheet')
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js', integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM', crossorigin='anonymous')
        script(src='../js/border_hooni.js')
        script(src='../js/hooni.js')
        // Plugins
    body
        script.
        include ../components/main_header

        header.container_header(style='')
            .header_second(style='')
                p(style='') Great Artist's Works!
                #dropdown_sort.dropdown(style='float: right; padding-top: 11px;')
                    button#left_button.btn.btn-outline-primary(type='button') 적용
                    button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
                        | 정렬 기준
                    .dropdown-menu
                        a.dropdown-item(href='#') Link 1
                        a.dropdown-item(href='#') Link 2
                        a.dropdown-item(href='#') Link 3
        #dropdown_sort2.dropdown(style='')
            button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', style='float: right;')
                | 정렬 기준
            button.btn.btn-outline-primary(type='button', style='float: right;') 적용
            .dropdown-menu
                a.dropdown-item(href='#') Link 1
                a.dropdown-item(href='#') Link 2
                a.dropdown-item(href='#') Link 3
        .container
             #columns
                - for(var i=0; i<border.length; i++)
                  figure
                      a(href="/border/product/"+border[i]._id)
                        img(src="/pic_300/" + border[i].image[0].picFilename)
                      .figure_detail(style='margin-top: 10px;')
                        .figure_title
                            a(style='font-size: 17px;')=border[i].title
                        .figure_kind
                            a(style='padding: 0; padding-left: 0;')
                            a=border[i].width+' W * '+border[i].height+' H * '+border[i].depth+' cm'
                        .figure_artist
                            a(style='padding-right: 0px;')=border[i].lastName + border[i].firstName
                            a(style='padding-right: 0px;')=border[i].lastNameE + ' ' + border[i].firstNameE+' '
                            if(border[i].is_selling)
                                a(style='float: right;')=border[i].price + "￦"
                            else
                                a(style='float: right;') 미판매

        .container
            hr
            .row
                .col-md-12
                    span.pull-right
                        ul.pagination
                            li.page-item
                                a.page-link(id='pageleft', href=pre_page-1)
                                    i.fa.fa-angle-left(aria-hidden='true')

                                - for(var i = startpage; i <= endpage; i++)
                                  li.page-item
                                    a.page-link(id='pagenum'+i, href="/border/"+i)=i

                            li(id='pageright'+totalpage).page-item
                                if(pre_page !== totalpage)
                                    a.page-link(href=pre_page+1)
                                        i.fa.fa-angle-right(aria-hidden='true')
                                else
                                    a.page-link.displaynone

        include ../components/footer