doctype html
html
    head
        // Global site tag (gtag.js) - Google Analytics
        script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-144472686-1')
        script.
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', 'UA-144472686-1');
        meta(charset='UTF-8')
        title 리빙드로우
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel='stylesheet', href='/css/product_style.css')
        link(rel='stylesheet', href='https://icono-49d6.kxcdn.com/icono.min.css')
        link(rel='stylesheet', href='/css/nav_style.css')
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js', integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1', crossorigin='anonymous')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js')
        script(src='/js/hooni.js')
        link(href='https://fonts.googleapis.com/css?family=Noto+Sans+KR&display=swap', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display|Raleway&display=swap', rel='stylesheet')
        <link href="https://fonts.googleapis.com/css?family=Lora|Nanum+Gothic+Coding|Nanum+Myeongjo&display=swap" rel="stylesheet">

        // Plugins
    body
        style(type='text/css').
        script.
        include ../components/main_header
        //.container
        section.pt-5.pb-5

            .container(style='padding:5; ')
                #leftside
                   -for(var i=0;i<border.image.length;i++)
                    div.leftside_detail(id="leftside_detail_"+(i+1))
                        img(id="select_image_"+(i+1), src="/pic/"+ border.image[i].picFilename)
                .row
                    .col-12.col-md-12.col-lg-9.col-xl-9
                        // SLIDER
                        .row
                            #row_bottom.col-md-12.col-xl-12(style='')
                                #carouselExampleIndicators.carousel.slide(data-ride='carousel')
                                    .carousel-inner
                                        #select_image_div.carousel-item.active
                                            img#select_image.d-block.w-100(data-src='holder.js/800x400?auto=yes&bg=777&fg=555&text=First slide', alt='First slide [800x400]', src="/pic/" + border.image[0].picFilename, data-holder-rendered='true')
                                            .middle(id='modal_button', data-toggle='modal', data-target='#myFullsizeModal')
                                                .text Full Screen
                                            //.middle2
                                            //    .text
                                            //        | Add to Like
                                            //        img#add_like(src='/images/like4.png', style=' margin-left:5px; width: 20px; height: 20px;')
                        // / SLIDER
                        hr#shadow
                        // MARKETING LINE
                        // FEATURED PRODUCTS
                        div(style='text-align: center; z-index: -1;')
                            p#paintstory(type='button', style='display: inline-block; border:none;')
                                | 작품 상세 설명
                                a#vareiety_icon.icono-caretDown(style=' height: 30px;')
                        //#paintdetail.articles-grid.row
                        //    // ITEM
                        //    .col-12.col-md-6.col-lg-6.col-xl-6
                        //        p.lead.text-center.text-primary(style='margin-bottom: 0;')=border.description
                        //        hr
                        //        p
                        //            ="Keywords : "
                        //            a(style='color: #6c757d;')
                        //                -for(var i=0;i<border.keyWords.length;i++)
                        //                    if(!(i===(border.keyWords.length-1)))
                        //                        =border.keyWords[i]+', '
                        //                    else
                        //                        =border.keyWords[i]
                        //        p
                        //        p
                        //            ="Subject : "
                        //            a(style='color: #6c757d;')
                        //                case border.subject
                        //                    when 'Ab'
                        //                        | 추상화
                        //                    when 'La'
                        //                        | 풍경화
                        //                    when 'Pe'
                        //                        | 인물화
                        //                    when 'Po'
                        //                        | 초상화
                        //                    when 'Vi'
                        //                        | 상상화
                        //                    when 'An'
                        //                        | 동물화
                        //                    when 'St'
                        //                        | 정물화
                        //                    default
                        //                        | error
                        //        p
                        //            ="Styles : "
                        //            a(style='color: #6c757d;')
                        //                case border.style
                        //                    when 'Im'
                        //                        td 인상주의
                        //                    when 'Fi'
                        //                        td 순수미술
                        //                    when 'Ex'
                        //                        td 표현주의
                        //                    when 'Ab'
                        //                        td 추상주의
                        //                    when 'Mo'
                        //                        td 모더니즘
                        //                    when 'Re'
                        //                        td 현실주의
                        //                    default
                        //                        td error
                        //        p


                        #author_note.articles-grid.row
                            .col-12.col-md-6.col-lg-6.col-xl-6
                                .author_note_header
                                    p.note_title=border.title
                                    p.lead.text-center.text-primary.note_title_sub(style='margin: 0;')=border.titleSub
                                .author_note_body
                                    .note_author_name
                                        a=border.lastName + border.firstName+" "
                                        a=border.lastNameE + ' ' + border.firstNameE
                                    .note_product_detail
                                        a=border.width
                                        a=" W x "
                                        a=border.height +" H x "
                                        a=border.depth+" cm"
                                        a
                                        br
                                        a (
                                        a
                                            - for(var j=0;j<border.material.length;j++)
                                                case border.material[j]
                                                    when 'Ca'
                                                        | 캔버스
                                                    when 'Pa'
                                                        | 종이
                                                    when 'Wo'
                                                        | 나무
                                                    when 'Cd'
                                                        | 카드보드
                                                    when 'Ot'
                                                        | 기타
                                                    when 'So'
                                                        | 부드러운 재질(뜨개실, 면, 옷감)
                                                    when 'Hw'
                                                        | 화선지
                                                    when 'Su'
                                                        | 순지
                                                    when 'Ja'
                                                        | 장지
                                                    when 'Ha'
                                                        | 한지
                                                    default
                                                        | error
                                                if(border.material.length != j + 1)
                                                    =", "
                                        a=" 에 "
                                        a
                                            - for(var j=0;j<border.medium.length;j++)
                                                case border.medium[j]
                                                    when 'Oi'
                                                        | 유채
                                                    when 'Ac'
                                                        | 아크릴
                                                    when 'Wa'
                                                        | 수채
                                                    when 'In'
                                                        | 잉크
                                                    when 'Pa'
                                                        | 페인트
                                                    when 'Ge'
                                                        | 석고
                                                    when 'Co'
                                                        | 채색
                                                    when 'Ti'
                                                        | 수묵담채
                                                    when 'Mu'
                                                        | 먹
                                                    default
                                                        | error
                                                if(border.medium.length != j + 1)
                                                    =", "
                                        a )
                                        br
                                        //a handmade korean paper
                                        //a=" on "
                                        //a fabric
                                        //br
                                        a 2019
                                .note_footer
                                    hr
                                    a="키워드 : "
                                    a.note_author_keword
                                        -for(var i=0;i<border.keyWords.length;i++)
                                            if(!(i===(border.keyWords.length-1)))
                                                =border.keyWords[i]+', '
                                            else
                                                =border.keyWords[i]
                    #total_card.col-12.col-md-12.col-lg-3.col-xl-3(style='')
                        .card.bg-light
                            #card_head.card-header.bg-primary
                                p(style='font-size:30px; color: #222;')=border.title

                                p(style='color: #222;')=border.titleSub
                            .card-body
                                .card_author
                                    div(style='height: auto;')
                                        a(style='font-size: 22px;')=border.lastName + border.firstName
                                        // <a><img src="../images/user.png" style="width: 23px; height: 23px; margin-left: 5px; margin-right:0; padding-bottom: 5px;"></a>
                                    div
                                        a(style='font-size: 15px;')=border.lastNameE + ' ' + border.firstNameE
                                .morebox
                                    .more_left(style='background-color: white; border-right: 1px solid #e7e7e7;')
                                        a View
                                        br
                                        a=border.view
                                    .more_right(style='background-color: white;')
                                        a Like
                                        br
                                        a=border.like
                                .more(style='height: 134px; background-color: #3a3e42;')
                                    div
                                        if(border.is_selling)
                                            a(style='width: 28px; height: 100%; font-size: 1.5em; color: white;')=border.price + "￦"
                                        else
                                            a(style='width: 28px; height: 100%; font-size: 1.5em; color: white;') 미판매
                                    div(style='height: 76px; padding-top: 20px;')
                                        button#addcart_left.btn.btn-danger(type='button', data-target='#my80sizeCenterModal', data-toggle='modal', style='height: 46px; padding: 4px;') CART
                                        button#addcart_right.btn.btn-danger(type='button', data-target='#my80sizeCenterModal', data-toggle='modal', style='height: 46px; padding: 4px;') BUY NOW




        #mobile_buymode(style=' border-top: 1px solid #e7e7e7; bottom:0;  width: 100%; position: fixed; background-color: white;')
            #mobile_padding_height
                div.mobile_padding_LR(style='display: table;  width: 100%;')
                    div(style='margin-top:0; margin-bottom:0; margin-left:0; margin-right:0; box-sizing: border-box;')
                        div(style='display: table-cell !important; width:100%; vertical-align: middle;')
                            div(style='word-wrap: break-word !important; box-sizing: border-box; word-break: break-all; border-spacing: 0px !important; font-size: 14px;')
                                a.buy_title 1,000,000 ￦
                                //a.buy_price 1,000,000 ￦
                        #mobile_left(style='display: table-cell !important; vertical-align: middle !important; word-break: keep-all;')
                            div(style='margin-left: 3px !important;')
                                button#mobile_button_left.btn.btn-danger(type='button', data-target='#my80sizeCenterModal', data-toggle='modal', style='') CART
                        #mobile_right(style='display: table-cell !important; vertical-align: middle !important; word-break: keep-all;')
                            div(style='margin-left: 3px !important;')
                                button#mobile_button_right.btn.btn-danger(type='button', data-target='#my80sizeCenterModal', data-toggle='modal', style='') BUYNOW
        #my80sizeCenterModal.modal.modal-center.fade(tabindex='-1', role='dialog', aria-labelledby='my80sizeCenterModalLabel')
            .modal-dialog.modal-80size.modal-center(role='document')
                .modal-content.modal-80size
                    .modal-header
                        h4#myModalLabel.modal-title 구매하기
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                    .modal-body
                        | ----가오픈 기간----
                        br
                        br
                        | 구매를 원하시면
                        br
                        | 아래 연락처 중 한 곳으로 연락 부탁드립니다.
                        br
                        | 간편결제 시스템을 구축중에 있습니다.
                        br
                        | 이용에 불편을 드려 죄송합니다.
                        br
                        br
                        | 카카오톡 플러스친구 :
                        a(href='http://pf.kakao.com/_qxeKXT/chat', target='_blank')
                            img(src='/images/kakao.png' style='width: 30px;height:30px;margin-left:10px')
                        br
                        br
                        | 인스타그램 :
                        a(href='https://www.instagram.com/livingdraw.co.kr/', target='_blank')
                            img(src='/images/insta.png' style='width: 30px;height:30px;margin-left:10px')
                        br
                        br
                        | Phone : 010-2760-2021
                        br
                        | 카카오톡 ID : Gil9084
                        br
                    .modal-footer
                        button.btn.btn-default(type='button', data-dismiss='modal') 닫기


        #myFullsizeModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myFullsizeModalLabel')
            #full_size.modal-dialog.modal-fullsize(role='document')
                #full_modal.modal-content.modal-fullsize
                    .modal-header
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') ×
                        h4#myModalLabel2.modal-title
                    .modal-body(id='fullscreen_img')
                        img.change_fullscreen_img()